<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @specialist.name %>
</p>

<p>
  <strong>Specialty:</strong>
  <%= @specialist.specialty %>
</p>

<p>
  <strong>Patient Name:</strong>
  <% @specialist.patients.each do |patient|%>
      <%= patient.name %><br/>
      <% @specialist.appointments.each do |app| %>
          <%= app.appointment_date%>
          <strong>Next Appointment In ... Days</strong>
          <% a1 = app.appointment_date.yday %>
          <% a2 = Time.new.yday %>
          <%= a1-a2 %><br/>
      <%end%>
  <%end%>
</p>

<%= link_to 'Edit', edit_specialist_path(@specialist) %> |
<%= link_to 'Back', specialists_path %>
